<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <% accounts.forEach((account) => { %>
    <div>
      <h2><%= account.name %></h2>
      <p>Баланс: <%= account.balance %></p>
      <h1>Додати карточку до акаунту {{ accountId }}</h1>
      <form>
        <label>Назва карточки:</label>
        <input type="text" id="cardName" /><br /><br />
        <label>Рівень карточки:</label>
        <input type="number" id="cardLevel" /><br /><br />
        <label>Ціна:</label>
        <input type="number" id="cardPrice" /><br /><br />
        <label>Додатковий прибуток:</label>
        <input type="number" id="cardBonus" /><br /><br />
        <button onclick="addCard()">Додати карточку</button>
      </form>

      <script>
        const urlParams = new URLSearchParams(window.location.search);
        const accountId = urlParams.get("accountId");
        document.title = `Додати карточку до акаунту ${accountId}`;
      </script>
    </div>
    <% }); %>
  </body>
</html>
