<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>dd</title>
  </head>
  <body>
    <h1>Додати карточку</h1>

    <form action="/cards" method="post">
      <label>Назва карточки:</label>
      <input type="text" name="name" required /><br /><br />
      <label>Рівень карточки:</label>
      <input type="number" name="level" required /><br /><br />
      <label>Ціна:</label>
      <input type="number" name="price" required /><br /><br />
      <label>Додатковий прибуток:</label>
      <input type="number" name="bonus" required /><br /><br />
      <button type="submit">Додати карточку</button>
    </form>
  </body>
</html>
