<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Карточки</h1>

    <ul>
      <% cards.forEach((card) => { %>
      <li>
        <h2><%= card.name %></h2>
        <p>Рівень: <%= card.level %></p>
        <p>Ціна: <%= card.price %></p>
        <p>Додатковий прибуток: <%= card.bonus %></p>
      </li>
      <% }); %>
    </ul>

    <a href="/cards/add">Додати карточку</a>
  </body>
</html>
